<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <img src="https://www.dropbox.com/s/zhf3trxcvulsumb/256941.png?dl=1" />
    <div class='title'>TrackEye proof of concept test</div>
    <p>Use images of eyes and the model should be able to figure out in which direction your eye is looking</p>
    <p>for better results, please upload a photo similar to the example below</p>
    <img src="https://www.dropbox.com/s/bsxzd2ema8par06/up_2.jpg?dl=1" />
    <br></br>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
  <p>Disclaimer: This website is in no way related to NEC Lenovo Japan, the use of organization logos are for educational purposes only </p>
<p><b>For NEC lenovo Japan Global Future Leaders Program interview use only<b> </p>
</div>
</body>
</html>
